.bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
  }

/* img {
    width: 200px;
    height: 200px;
  } */

  .bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }

  img {
    display:inline;
    height: 350px;
    width: 350px;
  }