<div class="container-fluid bg-3 text-center">
    <h3 class="margin">Where To Find Me?</h3>
    <div class="row">
      <div class="col-sm-4">
        <p>Lorem ipsum..</p>
        <img src="assets/img/bird.jpg" class="img-responsive margin" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-4">
        <p>Lorem ipsum..</p>
        <img src="assets/img/bird.jpg" class="img-responsive margin" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-4">
        <p>Lorem ipsum..</p>
        <img src="assets/img/bird.jpg" class="img-responsive margin" style="width:100%" alt="Image">
      </div>
    </div>
  </div>