<!-- <div class="text">DEMO</div>
<nav class="topnav">
  <a >Home</a>
  <a>News</a>
  <a>Contact</a>
  <a>About</a>
</nav>
<nav style="background-color: brown"></nav>
<button (click)="showImg=!showImg"><span *ngIf="!showImg">Show</span><span *ngIf="showImg">Hide</span></button>
<figure *ngIf="showImg">
  <img src="assets/img/doc.jpg" alt="About image" width="304" height="228" />
  <figcaption>
    <p>Test Image </p>
  </figcaption>
</figure>
<div>
  <article>Lorem Ipsum is simply dummy text of the printing and<marK> typesetting industry.</marK> Lorem Ipsum has been
    the
    industry's
    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
    type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
    Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
    Lorem Ipsum.<br>
    It's <time>1:29pm</time></article>
  <progress value='progreessValue' max="100"></progress>
  <input [(ngModel)]="inputField">
  <h2> To-Do List </h2>
  <ul contenteditable="true">
    <li> Break mechanical cab driver. </li>
    <li> Drive to abandoned factory
    <li> Watch video of self </li>
  </ul>
  <button (click)="startProgress()"><span *ngIf="!isEditable">Add</span><span *ngIf="isEditable">Done</span></button>
</div> -->

<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <app-header></app-header> -->
  <!-- <span *ngFor="let value of ngContentList">
    <div *ngIf="value.isTrue">{{value.value}}</div>
  </span>
  <ng-container *ngFor="let value of ngContentList">
    <div *ngIf="value.isTrue">{{value.value}}</div>
  </ng-container> -->
  <!-- <app-intro></app-intro>
  <app-highlight></app-highlight>
  <app-footer></app-footer>

</body>

</html> -->
<!-- <dx-text-box width="300"></dx-text-box>
<dx-button text="Dev Extreme button in angular"></dx-button> -->
<dx-data-grid id="gridContainer"
    [dataSource]="employees"
    [columnAutoWidth]="true"
    [showBorders]="true"
    rowTemplate="rowTemplateName">

    <dxi-column caption="Photo" [width]="100" [allowFiltering]="false" [allowSorting]="false"></dxi-column>
    <dxi-column dataField="Prefix" [width]="70" caption="Title"></dxi-column>
    <dxi-column dataField="FirstName"></dxi-column>
    <dxi-column dataField="LastName"></dxi-column>
    <dxi-column dataField="Position"></dxi-column>
    <dxi-column dataField="BirthDate" dataType="date"></dxi-column>
    <dxi-column dataField="HireDate" dataType="date"></dxi-column>

    <tbody class="employee dx-row" *dxTemplate="let employee of 'rowTemplateName'" >
        <tr class="main-row">
            <td rowspan="2"><img [src]="employee.data.Picture"/></td>
            <td>{{employee.data.Prefix}}</td>
            <td>{{employee.data.FirstName}}</td>
            <td>{{employee.data.LastName}}</td>
            <td>{{employee.data.Position}}</td>
            <td>{{employee.data.BirthDate | date: "yyyy/MM/dd"}}</td>
            <td>{{employee.data.HireDate | date: "yyyy/MM/dd"}}</td>
        </tr>
        <tr class="notes-row">
            <td colspan="6"><div>{{employee.data.Notes}}</div></td>
        </tr>
    </tbody>
</dx-data-grid>