<div class="text">DEMO</div>
<nav class="topnav">
  <a >Home</a>
  <a>News</a>
  <a>Contact</a>
  <a>About</a>
</nav>
<nav style="background-color: brown"></nav>
<button (click)="showImg=!showImg"><span *ngIf="!showImg">Show</span><span *ngIf="showImg">Hide</span></button>
<figure *ngIf="showImg">
  <img src="assets/img/doc.jpg" alt="About image" width="304" height="228" />
  <figcaption>
    <p>Test Image </p>
  </figcaption>
</figure>
<div>
  <article>Lorem Ipsum is simply dummy text of the printing and<marK> typesetting industry.</marK> Lorem Ipsum has been
    the
    industry's
    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
    type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
    Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
    Lorem Ipsum.<br>
    It's <time>1:29pm</time></article>
  <progress value='progreessValue' max="100"></progress>
  <input [(ngModel)]="inputField">
  <h2> To-Do List </h2>
  <ul contenteditable="true">
    <li> Break mechanical cab driver. </li>
    <li> Drive to abandoned factory
    <li> Watch video of self </li>
  </ul>
  <button (click)="startProgress()"><span *ngIf="!isEditable">Add</span><span *ngIf="isEditable">Done</span></button>
</div>